 /* cores dos formulários */
 :root {
    --corPrincipal: #dee6f0;
    --corTexto: #333;
    --corNeutroForm: #f9fcff;
}

body {
    background-color: var(--corPrincipal);
   
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--corNeutroForm);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
    text-align: center;
    color: var(--corTexto);
}

/* Estilo para o rodapé */
footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}